td {
    width: 15px;
    height: 15px;
}
b{
    font-size: 3em;
}

function 
{
    text-align: center;
}

c
{
    color: red;
    font-size: 1em;

}
echo
{
    font-size: 1em;
}
main {
    text-align: center;
}

nav a {
    font-size: 2em;
}

h1 {
    color: white;
}

for
{
    text-align: center;
}

body {
    background-image: url("../img/Grass.jpg");
    text-align: center;
}

a {
    color: white;
    font-size: 2em;
}

footer {
    text-align: center;
}

